asgiref==3.5.2
Django==4.0.5
django-templated-mail==1.1.1
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
Pillow==9.0.1
protobuf==3.12.4
ptyprocess==0.7.0
pycairo==1.20.1
pycups==2.0.1
PyGObject==3.42.0
PyJWT==2.3.0
python3-openid==3.2.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
social-auth-app-django==4.0.0
social-auth-core==4.2.0
sqlparse==0.4.2
